.image {
    background-image: url("https://wallpaperaccess.com/full/5680385.jpg");
    background-position: center;
    background-size: cover; /* or contain, depending on your preference */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}
